@import "https://necolas.github.io/normalize.css/8.0.1/normalize.css";

* {
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 40px;
  width: 400px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background-color: #f1ab48;
}

h1 {
  text-align: center;
  font-size: 1.35rem;
  text-align: left;
  padding-left: 5px;
}

.balance {
  padding-left: 0px;
  text-shadow: 0 0 3px black;
  font-size: 1.4em;
  color: white;
}

.income-expense {
  
  display: flex;
  justify-content: space-around;
  border: 2px solid gainsboro;
  background-color: whitesmoke;
  box-shadow: 0px 0px 2px 2px rgb(132, 123, 123);
}

.income {
  color: rgb(83, 203, 83);
}

.expense {
  color: rgb(239, 62, 62);
}

h2 {
  display: inline-block;
  text-align: center;
  width: 50%;
  font-size: 1.2rem;
}

.history div + div {
  margin-top: 10px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  height: 25px;
  font-size: 1.1em;
  border: 1px solid gainsboro;
  padding-left: 25px;
  padding-right: 25px;
  background-color: whitesmoke;
  box-shadow: 0px 0px 2px 2px rgb(132, 123, 123);
  align-items: center;
}

.amount-income {
  font-weight: bold;
  color: rgb(83, 203, 83);
}

.amount-expense {
  font-weight: bold;
  color: rgb(239, 62, 62);
}


form {
  text-align: center;
  margin-top: 20px;
}

form label + label {
  margin-top: 5px;
}

h3 {
  padding-left: 10px;
  border-bottom: 1px solid ;
  border-bottom-color: black;
}

label {
  display: block;
  height: 25px;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

input {
  width: 70%;
  float: right;
}

input::placeholder {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-left: 10px;
}

button {
  width: 100%;
  margin-top: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  box-shadow: 0px 0px 2px 2px rgb(132, 123, 123);
}

.transaction {
  margin-top: 30px;
}

