@import "https://necolas.github.io/normalize.css/8.0.1/normalize.css";

* {
  box-sizing: border-box;
}

body {
  padding: 40px;
}

h1 {
  text-align: center;
}

.income-expense {
  display: flex;
  justify-content: space-around;
}

h2 {
  display: inline-block;
}

label {
  display: block;
}
